/*****************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * 
 * MAIN STYLES
 *
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * 
 */


html, body {
	background-color:#ffffff;
   	font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

/*****************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * 
 * FORM ELEMENTS
 *
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 */

.error-label {
	color:#880000;
	text-align:center;
}

/*****************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * 
 * LOADING
 *
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 * ***************************************************************
 */

#class .loading-indicator{
	font-size:12px;
	height:18px;
}

.loading-indicator {
    	font-size:11px Tahoma;
    	background-image:url('/ext/resources/images/default/grid/loading.gif');
    	background-repeat: no-repeat;
    	background-position:top left;
    	padding-left:20px;
	height:18px;
	text-align:left;
}

#loading-mask{
	position:absolute;
	left:0;
	top:0;
    	width:100%;
    	height:100%;
    	z-index:20000;
    	background-color:#ffffff;
}

#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
   	height:auto;
}

#loading img {
    	margin-bottom:5px;
}

#loading .loading-indicator{
	background:#ffffff;
	color:#666666;
	font:13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    	text-align:center;
    	height:auto;
}